.products {
    display: flex;
    flex-wrap: wrap;
  }
  section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  