h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }
}
body {
  line-height: 1;
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}
/* export default App.css; */